<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.content }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css">

        <!-- Custom CSS -->
        <!--<link rel="stylesheet" href="/assets/css/main.css">-->
				
				<!-- Bootstrap CSS -->
				<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
				
				<!-- My Custom CSS -->
				<link rel="stylesheet" href="/assets/css/style.css">

    </head>
    <body>
			<div class="navbar navbar-default navbar-fixed-top" role = "navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					    <span class="sr-only">Toggle navigation</span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
						</button>
						<a href="/" class="navbar-brand">Teddy</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/">Home</a></li>
						</ul>
					</div>
				</div>
			</div>